*{
    /* background-color: gray; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    text-align: center;
    text-decoration: line-through;
    text-transform: capitalize;
    font-weight: bold;
    line-height: 10px;
    letter-spacing: 2px;
}    

/* h2{
    color: brown;
} */

/* p{
    color: goldenrod;
} */

/* .Selector > h1,
.Selector > h2,
.Selector > h3{
    color: violet;
} */

#Lang > h2,
#Lang > h1,
#Lang > h3,
#Lang > h4,
#Lang > h5,
#Lang > p{
    color: hotpink;
}

.fun{
    color: salmon;
}

/* #Lang >h1,h2,h3,h4,h5,p{
    color: darkgreen;
} */


span{
    color: red;
}

.one{
    color: darkblue;
}

.Two{
    color: darkseagreen;
}

.three{
    color: #190944;
}

#para{
    color: darkgray;
}

/* p{
    background-image: url(./Assets/Silambarasan_TR_1753112909732_1753112909879.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} */

.Container{
    width: 200px;
    height: 200px;
    background-color: red;
    /* padding-left: 50px;
    padding-top: 70px; */
    padding: 20px 40px 60px 80px;
    /* border-top: 10px solid black;
    border-bottom: 10px solid green; */
    border: 20px solid black;
    /* margin-left: 100px;
    margin-top: 150px; */
    margin: 50px 70px 90px 110px;
}

h3{
    padding: 20px;
}

h2{
    background-color: red;
    display: none;
    height: 500px;
    width: 200px;
}

.box1{
    width: 200px;
    height: 100px;
    background-color: red;
    /* flex: 1; */
    order: 2;
}

.box2{
    width: 200px;
    height: 100px;
    background-color: blue;
    /* flex: 3; */
    order: 3;
}

.box3{
    width: 200px;
    height: 100px;
    background-color: green;
    /* flex: 1; */
    order: 1;
}

.box4{
    width: 200px;
    height: 100px;
    background-color: gray;
}

.box5{
    width: 200px;
    height: 100px;
    background-color: yellow;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    /* height: 500px; */
    /* border: 2px solid black; */
    align-items: start;
    /* gap: 20px; */
    /* flex-wrap: wrap; */
    /* align-content: space-between; */
}


.box6{
    width: 200px;
    height: 100px;
    background-color: red;
}

.box7{
    width: 200px;
    height: 100px;
    background-color: blue;
}

.box8{
    width: 200px;
    height: 100px;
    background-color: green;
}

.box9{
    width: 200px;
    height: 100px;
    background-color: gray;
}

.box10{
    width: 200px;
    height: 100px;
    background-color: yellow;
}

/* .two > p > span{
    color: green;
} */

.three{
    color: hotpink;
}

.one{
    display: flex;
}

.name1{
    width: 100px;
    height: 100px;
    background-color: darkblue;
    flex: 1;
}

.name2{
    width: 100px;
    height: 100px;
    background-color: darkcyan;
    flex: 3;
}

.name3{
    width: 100px;
    height: 100px;
    background-color: darkgray;
    flex: 1;
}


.para{
    background-color: blue;
    color: white;
    padding: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    grid-template-rows: repeat(3, 300px);
}

.items{
    background-color: darkgreen;
    font-size: 50px;
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
}

.outerbox{
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.item1{
    /* grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: span 3;
}

.item2{
    grid-row: span 3;
}

.layout > div{
    border: 1px solid black;
    background-color: #ebabac;
    font-size: 50px;
    font-weight: 900;
    display: grid;
    justify-content: center;
    align-items: center;
}

.layout{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 10vh 80vh 10vh;
    grid-template-areas: 
    "z z z z"
    "sb1 m m sb2"
    "k k k k";
}

.header{
    grid-area: z;
}

.footer{
    grid-area: k;
}

.sidebar1{
    grid-area: sb1;
}

.sidebar2{
    grid-area: sb2;
}

.main{
    grid-area: m;
}